$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$color-primary: #00fff5;
$color-secondary: #102c36;
$color-tertiary: #005c7c;

$color-white: #fff;
$color-black: #000;
$color-dark-grey: #1d1d1d;