::-webkit-scrollbar {
    width: 10px;
    background: $color-secondary;
}

::-webkit-scrollbar-track {
    opacity: 0;
}
 
::-webkit-scrollbar-thumb {
    background-color: $color-tertiary; 
    width: 10px;
}
::selection {
  background: $color-primary;
  color: $color-white;
}
::-moz-selection {
  background: $color-primary;
  color: $color-white;
}